.vscode/
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json
/build
/dist
*.spec
/Livre pas trier + doublons disque*
\[*\]
*.py[co]

# Sonar
sonar-project.properties
.sonar/
